


/*about me paragraph*/
p {
	line-height: 	2;
	font-style: italic;
}

/*author picture*/
img {
	border-style: solid;	
	border-width: 	5px;
	border-color: 	#3daae8;
	max-width: 	100%;
}

/*logo*/
.navbar-brand {
	font-size: 	30px;
	font-style: italic;
 }

/*page heading*/
 h1 {
 	text-align: center;
 	font-size: 	30px;
 }

/*
 h3 {
 	font-size: 15px;
 }
*/
/*navbar*/
#bs-example-navbar-collapse-1 {
	font-size: 	14px;
	font-weight: bold;
}


/*footer*/
#footer {
	text-align: center;	
		color: white;
		padding: 5px; 	
}

/*connect with me section*/
#connectWithMeBox {
	margin-top: 50px;
	border-style: solid;	
	border-width: 	5px;
	border-color: 	#3daae8;
	text-align: 	center;	
	margin-bottom: 	300px;
	font-size: 	20px;
}

/*removes default borders from connect with me section*/
#panelHeading {
	border-style: 	none;
	border-style: 	none;
	background-color: white;
}

#panelBody{
	border-style: 	none;
	background-color: white;
}

#panelBox {
	border-style: 	none;
	background-color: white;
}
/*controls height of social medial icons*/
.social {
	max-height: 70px;
	max-width: 	50px;
	border-style: none;
}

/*message part of form*/

#inputMessage {
	height: 200px;
}

/*colorchanging aspect of header*/
#header {
	padding: 5px;
     background-color: #3daae8;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
   }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background: #3daae8;}
    50%  {background: #0CE83D;}
    100% {background: #3daae8;}
}

@keyframes example {
    0%   {background: #3daae8;}
    50%  {background: #0CE83D;}
    100% {background: #3daae8;}
}
}

